
dotnet/ResourcesAPI/.vs/ResourcesAPI/v16/

dotnet/ResourcesAPI/ResourcesAPI/obj/Debug/netcoreapp3.1/

dotnet/ResourcesAPI/ResourcesAPI/obj/

dotnet/ResourcesAPI/ResourcesAPI/bin/Debug/netcoreapp3.1/

dotnet/ResourcesAPI/.vs/ResourcesAPI/DesignTimeBuild/
